In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("movies_metadata.csv")

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8960,False,"{'id': 287016, 'name': ""Wong Kar-Wai's Informa...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.kino.com/daysofbeingwild/,18311,tt0101258,cn,阿飛正傳,The movie is set in Hong Kong and the Philippi...,...,1990-12-15,141864,91.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,Days of Being Wild,False,7.3,85.0
8961,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,48448,tt0101268,en,Across the Tracks,When Billy returns from reform school he has t...,...,1991-02-14,0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Across the Tracks,False,5.5,17.0
8962,False,"{'id': 476066, 'name': 'Begotten Collection', ...",33000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,1483,tt0101420,en,Begotten,"Begotten is the creation myth brought to life,...",...,1990-04-30,0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Begotten,False,5.0,64.0
8963,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,41783,tt0101440,zh,Bian zou bian chang,Two blind men pursue ephemeral and unlikely ho...,...,1991-09-08,0,110.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Life on a String,False,7.0,2.0
8964,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,28553,tt0101531,en,Cadence,"As punishment for drunken, rebellious behavior...",...,1990-11-16,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sometim,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

adult                       0
belongs_to_collection    7692
budget                      0
genres                      0
homepage                 8400
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                   25
popularity                  0
poster_path                31
production_companies        0
production_countries        0
release_date                5
revenue                     0
runtime                     6
spoken_languages            0
status                      7
tagline                  2587
title                       1
video                       1
vote_average                1
vote_count                  1
dtype: int64

In [ ]:
df.shape

(8965, 24)

In [ ]:
df.duplicated().sum()

np.int64(1)

In [ ]:
df = df.drop_duplicates().reset_index(drop=True)

In [ ]:
df = df[['title', 'overview', 'genres', 'tagline', 'vote_average', 'popularity']]

In [ ]:
df.isnull().sum()

title              1
overview          25
genres             0
tagline         2587
vote_average       1
popularity         0
dtype: int64

In [ ]:
df = df.dropna(subset=['title'])
df['overview'] = df['overview'].fillna('')
import ast
df['genres'] = df['genres'].apply(lambda x: " ".join([i['name'] for i in ast.literal_eval(x)]))
df['tagline'] = df['tagline'].fillna('')

In [ ]:
df.isnull().sum()

title           0
overview        0
genres          0
tagline         0
vote_average    0
popularity      0
dtype: int64

In [ ]:
df.head()

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.712900
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519

In [ ]:
df['tags'] = df['overview'] + " " + df['genres'] + " " + df['tagline']

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    # Convert to string (safety)
    text = str(text).lower()

    # Remove punctuation + numbers
    text = re.sub(r'[^a-z\s]', ' ', text)

    # Split into words
    words = text.split()

    # Remove stopwords
    words = [word for word in words if word not in stop_words]

    # Lemmatize
    words = [lemmatizer.lemmatize(word) for word in words]

    return " ".join(words)

In [ ]:
df['tags'] = df['tags'].apply(preprocess_text)

In [ ]:
df.head()

,title,overview,genres,tagline,vote_average,popularity,tags
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,,7.7,21.946943,led woody andy toy live happily room andy birt...
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539,sibling judy peter discover enchanted board ga...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.712900,family wedding reignites ancient feud next doo...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495,cheated mistreated stepped woman holding breat...
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519,george bank recovered daughter wedding receive...

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()
indices

title
Toy Story                         0
Jumanji                           1
Grumpier Old Men                  2
Waiting to Exhale                 3
Father of the Bride Part II       4
                               ...
35 Up                          8958
Days of Being Wild             8959
Across the Tracks              8960
Begotten                       8961
Life on a String               8962
Length: 8963, dtype: int64

In [ ]:
df.shape

(8963, 7)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(
    max_features=50000,
    ngram_range=(1, 2),
    stop_words='english'
)

In [ ]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

In [ ]:
tfidf_matrix.shape

(8963, 50000)

In [ ]:
# similarity = linear_kernel(tfidf_matrix, tfidf_matrix) this will kill

from sklearn.metrics.pairwise import linear_kernel

from sklearn.metrics.pairwise import linear_kernel

def recommend(title, n=10):
    if title not in indices:
        return ["Movie not found"]

    idx = indices[title]

    # Compute similarity only for this movie → SAFE!
    sim_scores = linear_kernel(tfidf_matrix[idx], tfidf_matrix).flatten()

    # Sort by score
    similar_indices = sim_scores.argsort()[::-1][1:n+1]

    return df['title'].iloc[similar_indices].tolist()

In [ ]:
recommend("Comic Book Confidential", 10)

['Chasing Amy',
 'Mr. Saturday Night',
 'Crumb',
 'Condorman',
 'Tales from the Crypt',
 'American Splendor',
 'Comic Book Villains',
 'Creepshow 2',
 'Natural Born Killers',
 'The Dangerous Lives of Altar Boys']

In [ ]:
import pickle

# Save TF-IDF matrix
pickle.dump(tfidf_matrix, open("tfidf_matrix.pkl", "wb"))

# Save TF-IDF vectorizer
pickle.dump(tfidf, open("tfidf_vectorizer.pkl", "wb"))

# Save dataframe
df.to_pickle("movies_df.pkl")

# Save indices mapping
pickle.dump(indices, open("indices.pkl", "wb"))